body {
  background-color: rgb(17, 17, 50);
  color: rgb(185, 179, 179);
}

::selection {
  background-color: rgb(110, 110, 27);
}

.container {
  width: 1239px;
  margin: 0 auto;
  padding: 0 15px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: rgb(212, 115, 176);
}

.header {
  padding-bottom: 121px;
}

.logo {
  font-size: 40px;
  color: rgb(217, 219, 75);
  text-align: center;
}

.header-wrapper {
  text-align: center;
  width: 100%;
}

.hero {
  padding-bottom: 95px;
}

.hero-title {
  font-size: 40px;
}

.hero-text {
  line-height: 1.2;
}

.hero-img {
  float: right;
}

.dinosaur {
  padding-bottom: 82px;
}

.dinosaur-title {
  text-align: center;
  font-size: 36px;
}

.dinosaur-text {
  line-height: 1.4;
}

.first-dinosaurs {
  padding-bottom: 127px;
}

.first-dinosaurs-title {
  text-align: center;
  font-size: 36px;
}

.first-dinosaurs-text {
  line-height: 1.6;
}

.footer-wrapper {
  text-align: center;
  width: 100%;
}
